<body>
  <div id="container">
    <div class="loader-container">
      <div class="loader"></div>
    </div>
  </div>
  <div class="footer">
    a <%= link_to "work in progress", "https://github.com/rorysaur/xuanjitu", target: :_blank %> by <%= link_to "rorysaur", "https://rorysaur.blog/", target: :_blank %> | <%= link_to "about", about_path, target: :_blank %>
  </div>
</body>

<%= javascript_pack_tag 'application' %>
