<body>
  <div id="container"></div>
  <div class="footer">
    a <%= link_to "work in progress", "https://github.com/rorysaur/xuanjitu" %> by rorysaur | <%= link_to "about", about_path, target: :_blank %>
  </div>
</body>

<%= javascript_pack_tag 'application' %>
