.about {
  color: #444;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  margin: 50px;
  max-width: 600px;
  min-width: 300px;
  width: 50%;
  a, a:visited, a:hover, a:active {
    color: #999;
  }
  h2 {
    color: #000;
    margin-top: 40px;
  }
}
