<!DOCTYPE html>
<html>
  <head>
    <title>Xuanjitu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap&subset=chinese-simplified" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  </head>

  <%= yield %>
</html>
