<!DOCTYPE html>
<html>
  <head>
    <title>Xuanjitu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=block&subset=chinese-simplified" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=block" rel="stylesheet">
  </head>

  <%= yield %>
</html>
